<?xml version="1.0" encoding="utf-8" ?>
<Defs>

  <XmlExtensions.SettingsMenuDef>
    <defName>ReinforcedWallsContinuedSettingsMenu</defName>
    <modId>crewd.reinforcedwallscontinued</modId>
    <label>Reinforced Walls (Continued)</label>
    <settings>

      <li Class="XmlExtensions.Setting.MiddleColumn">
        <split>0.75</split>
        <settings>
          <li Class="XmlExtensions.Setting.Section">
            <settings>
              <li Class="XmlExtensions.Setting.Text">
                <text>For any changes to take effect the game must be restarted!</text>
                <font>Medium</font>
                <anchor>Middle</anchor>
              </li>

              <!-- Research project unlock requirements -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsResearchRequirementsToggle</key>
                <defaultValue>True</defaultValue>
                <label>Unlocking the research project requires completion of Microelectronics.</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsResearchRequirementsToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>DISABLED: The research project can be unlocked with the simple research bench.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>ENABLED: The research project can only be unlocked with the hi-tech research bench.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>

              <!-- Embrasures -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsEmbrasuresToggle</key>
                <defaultValue>True</defaultValue>
                <label>Enable / disable reinforced embrasures</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsEmbrasuresToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Enable building reinforced embrasures, walls with a tactical opening to shoot through.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.Gap">
                    <spacing>6</spacing>
                  </li>
                  <li Class="XmlExtensions.Setting.Slider">
                    <key>reinforcedEmbrasuresFillPercentage</key>
                    <defaultValue>75</defaultValue>
                    <min>50</min>
                    <max>99</max>
                    <decimals>0</decimals>
                    <label>Embrasure effective cover percentage:  {reinforcedEmbrasuresFillPercentage}    (default: 75)</label>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Determines how much cover in percentage the embrasure offers from projectiles.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>

              <!-- Wall base hit points -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Numeric">
                <key>reinforcedWallsBaseHitPoints</key>
                <defaultValue>900</defaultValue>
                <min>1</min>
                <max>9999</max>
                <label>Wall base hit points  (default: 900)</label>
              </li>
              <li Class="XmlExtensions.Setting.SetColor">
                <color>(163,177,188)</color>
              </li>
              <li Class="XmlExtensions.Setting.Text">
                <text>Adjust the wall's maximum base hit points. For reference, the value for vanilla walls is 300.</text>
              </li>
              <li Class="XmlExtensions.Setting.SetColor"/>

              <!-- Wall base material cost setting -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Numeric">
                <key>reinforcedWallsCostStuffCount</key>
                <defaultValue>15</defaultValue>
                <min>1</min>
                <max>99</max>
                <label>Wall base material cost  (default: 15)</label>
              </li>
              <li Class="XmlExtensions.Setting.SetColor">
                <color>(163,177,188)</color>
              </li>
              <li Class="XmlExtensions.Setting.Text">
                <text>Set the amount of base material (woody/stony/metallic) required for construction.</text>
              </li>
              <li Class="XmlExtensions.Setting.SetColor"/>
              <li Class="XmlExtensions.Setting.Gap">
                <spacing>6</spacing>
              </li>

              <!-- Woody base construction material -->

              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsStuffCategoriesWoodyToggle</key>
                <defaultValue>False</defaultValue>
                <label>Enable / disable woody stuff as base construction material.</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsStuffCategoriesWoodyToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>DISABLED: Wood will not be available as a construction material for reinforced walls/doors.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>ENABLED: Wood can be used as normally for constructing reinforced walls/doors.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>

              <!-- Extra materials requirement settings -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Text">
                <text>Extra Construction Materials</text>
                <font>Small</font>
                <anchor>Middle</anchor>
              </li>
              <li Class="XmlExtensions.Setting.SetColor">
                <color>(163,177,188)</color>
              </li>
              <li Class="XmlExtensions.Setting.Text">
                <text>An optional set of extra materials to be added to the construction cost. You can choose whatever combination suits your playstyle, or simply disable all of them.</text>
              </li>
              <li Class="XmlExtensions.Setting.SetColor"/>
              <li Class="XmlExtensions.Setting.Gap">
                <spacing>6</spacing>
              </li>

              <!-- Extra: Hyperweave -->

              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsHyperweaveToggle</key>
                <defaultValue>True</defaultValue>
                <label>Requires Hyperweave</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsHyperweaveToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Enables adding Hyperweave to the construction cost.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.Numeric">
                    <key>reinforcedWallsHyperweaveCost</key>
                    <defaultValue>5</defaultValue>
                    <min>1</min>
                    <max>99</max>
                    <label>Amount needed  (default: 5)</label>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Set the amount of Hyperweave required for construction.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>
              <li Class="XmlExtensions.Setting.Gap">
                <spacing>4</spacing>
              </li>

              <!-- Extra: Devilstrand -->

              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsDevilstrandToggle</key>
                <defaultValue>False</defaultValue>
                <label>Requires Devilstrand</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsDevilstrandToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Enables adding Devilstrand to the construction cost.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.Numeric">
                    <key>reinforcedWallsDevilstrandCost</key>
                    <defaultValue>5</defaultValue>
                    <min>1</min>
                    <max>99</max>
                    <label>Amount needed  (default: 5)</label>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Set the amount of Devilstrand required for construction.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>
              <li Class="XmlExtensions.Setting.Gap">
                <spacing>4</spacing>
              </li>

              <!-- Extra: Uranium -->

              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsUraniumToggle</key>
                <defaultValue>False</defaultValue>
                <label>Requires Uranium</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsUraniumToggle</key>

                <caseFalse>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Enables adding Uranium to the construction cost.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.Numeric">
                    <key>reinforcedWallsUraniumCost</key>
                    <defaultValue>5</defaultValue>
                    <min>1</min>
                    <max>99</max>
                    <label>Amount needed  (default: 5)</label>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Set the amount of Uranium required for construction.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>
                </caseTrue>
              </li>

              <!-- [WD] Reinforced Doors integration -->

              <li Class="XmlExtensions.Setting.GapLine"/>
              <li Class="XmlExtensions.Setting.Checkbox">
                <key>reinforcedWallsWDReinforcedDoorsIntegationToggle</key>
                <defaultValue>False</defaultValue>
                <label>Enable [WD] Reinforced Doors mod integration</label>
              </li>
              <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>reinforcedWallsWDReinforcedDoorsIntegationToggle</key>

                <caseFalse>
                </caseFalse>

                <caseTrue>
                  <li Class="XmlExtensions.Setting.Gap">
                    <spacing>2</spacing>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>The following changes will be applied to the [WD] Reinforced Doors mod (if present):
- The research project added by this mod is also required to unlock both reinforced doors.
- Same extra material requirements set above are added to the doors' construction cost.
- Reinforced doors get the same damage resistance multipliers as the reinforced walls.
- Reinforced doors maximum base hit points are increased.
- Flammability factor is set to match that of the walls.
</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>

                  <!-- Door base material cost settings -->

                  <li Class="XmlExtensions.Setting.Gap">
                    <spacing>4</spacing>
                  </li>
                  <li Class="XmlExtensions.Setting.Numeric">
                    <key>reinforcedWallsWDReinforcedAutoDoorsComponentsCostCount</key>
                    <defaultValue>2</defaultValue>
                    <min>1</min>
                    <max>9</max>
                    <label>Components required  (default: 2)</label>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor">
                    <color>(163,177,188)</color>
                  </li>
                  <li Class="XmlExtensions.Setting.Text">
                    <text>Set the amount of components required for the autodoor construction.</text>
                  </li>
                  <li Class="XmlExtensions.Setting.SetColor"/>

                </caseTrue>
              </li>

              <li Class="XmlExtensions.Setting.GapLine">
                <spacing>24</spacing>
              </li>
              <li Class="XmlExtensions.Setting.ResetSettings"/>
            </settings>
          </li>
        </settings>
      </li>

    </settings>
  </XmlExtensions.SettingsMenuDef>

</Defs>
